
{% if items|length < 2 %}
    {% for item in items %}
      {{ item }}
    {% endfor %}
{% else %}
    <div class="pw-group pw-group--{{ wrap_value }}">
        {% for item in items %}
          {{ item }}
        {% endfor %}
    </div>
{% endif %}

